@model BSB.Data.Entity.Movie

@{
    ViewData["Title"] = "Details";
}
<style>
body { min-height: 100vh; background: linear-gradient(rgba(247, 245, 236,0.9), rgba(247, 245, 236, 0.9)), url("/images/background.png"); background-size: 100% 100%; background-repeat: no-repeat; }

    .cus-select {
        background-color: #ECAE8C;
        color: white;
    }

    .bgbg {
        background-color: #6A856C;
    }
</style>

<h1>Details for Movie @Model.Name</h1>

<div>
    <hr />
    <div class="row mb-5 px-4">
        <div class="col col-auto mr-5">
            <img width="260" height="300" src="@Model.Image" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 text-secondary font-weight-bold">
            <div class="btn col-sm-2" style="background-color: #ECAE8C; color: white; border: 1px; margin-bottom: 10px">@Html.DisplayFor(model => model.Genre)</div> 
            <div class="form-group row" style="align-items: center;">
                <label class="col-sm-2 col-md-4 col-form-label">Movie Name</label>
                <div class="col-sm-10 col-md-8">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-md-4 col-form-label">Description</label>
                <div class="col-sm-10 col-md-8">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-md-4 col-form-label">Director</label>
                <div class="col-sm-10 col-md-8">
                    @Html.DisplayFor(model => model.Director)
                </div>
            </div>

        </div>
    </div>

</div>
 <div class="form-group d-flex justify-content-center">
        <a class="btn btn-danger px-5 rounded-pill" asp-action="Index">Back</a>
    </div>
