@model BSB.Data.Dto.UserRegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style_login.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="container d-flex col-12" style="width:auto">
        <div class="img d-flex col-6">
            <img src="~/Images/popcorn_image.png" />
        </div>
        <div class="login-container d-flex col-6">
            @Html.ValidationSummary()
            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="input-div" one>
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div>

                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your Email", @class = "formicka" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="input-div" two>
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter your First Name", @class = "formicka" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="input-div" three>
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter your Last Name", @class = "formicka" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
                <div class="input-div" four>
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your Password", @class = "formicka" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="input-div" five>
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm your Password", @class = "formicka" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <a asp-action="Login" asp-controller="account" style="margin-left:130px">&nbsp; &nbsp; &nbsp; Do you have an account? Login</a>
                <br /><br />
                <button type="submit" class="login" style="background-color: #181818; color:white; border:none; min-width:190px; border-radius:20px; width:auto">Register</button>
            </form>
        </div>
    </div>

</body>