@using Microsoft.Extensions.Options
@model BSB.Data.Dto.FavouritesDto


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row m-4">
        @if (Model.Movies.Count == 0)
        {
        <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="display-2 text-center">You have no favourite movies.</p>
            <a class="btn btn-primary btn-lg m-3" style="background-color: #D44A4B; border-radius:30px; border-color: #D44A4B " href="@Url.Action("Index","Movies")" role="button">Add favourite movies</a>
        </div>
        }
        else
        {
            @foreach (var item in Model.Movies)
            {


                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Movie.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Movie.Name</h5>
                        <p class="card-body">Genre: @item.Movie.Genre</p>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Details</a>
                        <a asp-controller="FavMovies" asp-action="DeleteFromFavMovies" asp-route-id="@item.FavMoviesId" class="btn btn-danger">Remove From Favourites</a>
                    </div>
                </div>

            }
        }
        
    </div>

</div>