@using Microsoft.Extensions.Options
@model BSB.Data.Dto.FavouritesDto


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        min-height: 100vh;
        background: linear-gradient(rgba(247, 245, 236,0.9), rgba(247, 245, 236, 0.9)), url("/images/background.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

</style>
<div class="container">

    <div class="row m-4">
        @if (Model.Movies.Count == 0)
        {
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="display-2 text-center">You have no favourite movies.</p>
                <a class="btn btn-primary btn-lg m-3" style="background-color: #D44A4B; border-radius:30px; border-color: #D44A4B " href="@Url.Action("Index","Movies")" role="button">Add favourite movies</a>
            </div>
        }
        else
        {
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-wrap">
                @foreach (var item in Model.Movies)
                {


                    <div class="card border-secondary mb-2 mr-2" style="width: 21rem;">
                        <img class="card-img-top border-bottom" src="@item.Movie.Image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><strong>@item.Movie.Name</strong></h5>
                            <p class="card-body text-muted p-0">Genre: @item.Movie.Genre</p>
                            <div class="d-flex flex-row justify-content-between">
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Movie.Id" class="btn btn-danger m-1" style="border-radius: 30px; opacity:0.8">Details</a>
                                <a asp-controller="FavMovies" asp-action="DeleteFromFavMovies" asp-route-id="@item.FavMoviesId" class="btn btn-danger text-wrap m-1" style="border-radius:30px">Remove From Favourites</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <a class="btn btn-primary btn-lg m-3" style="background-color: #D44A4B; border-radius:30px; border-color: #D44A4B " href="@Url.Action("Index","Movies")" role="button">Add more movies</a>
        </div>
        }

    </div>

</div>